body{
	padding: 0 20%;
}
header {
	text-align: center;
}
.nav {
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
}
.nav li {
	display: inline;
}
.nav a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}
.nav form {
	display: inline-block;
	padding: 10px;
	text-decoration-style: none;
}
footer {
	text-align: center;
}
.flashes {
	padding: 0;
	position: sticky;
	top: 0;
	width: 100%;
}
.flashes li{
	list-style: none;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: lightgray;
	padding: 3px;
}
.flashes .alert-danger{
	background: mistyrose;
}
.flashes .alert-success{
	background: yellow;
}