<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Markdown blog!</title>
	<link rel="stylesheet" type="text/css" href={{ url_for("static",filename = "css/main.css")}}>
</head>
<body>
<header>
	<h1>Articles that I have written</h1>
</header>

<nav>
	<ul class=nav>
		<li><a href="#">About</a></li>
		<li><a href="#">Articles</a></li>
		<li><a href="#">Admin</a></li>
	</ul>
</nav>

<main>
	Is it possible to be unhappy all the time? I think, many people suffer from sadness or depression and they
	 dont just realize it. I assume, it will be a huge problem for people after the quarantine. Many people will suffer from this kind of disorder. :) You cant get it if you already have it. (think smart)
</main>
<footer>
	<p>
		(C) 2020 Illnesses
	</p>
</footer>


</body>
</html>