{% extends "_main.jinja" %}
{% block title %} My articles! {% endblock %}

{% block main %} The personal information wasnt given by developer. There is chance that he doesnt want to fill it in! Keep smiling and be positive! :) 
{% endblock %}