{% extends "_main.jinja" %}
{% block title %} About me {% endblock %}

{% block main %} This page was established to show my intention to improve my english skill. I hope some articles are teachable and my grammar will be better as soon as possible. These articles are my thoughts of living at another planet or my feelings. Some of them would be very depressing and pesimistic. You may think that im suffering from depression. However, Depression has overwhelmed me in many ways in the past. I have realized that I have changed a lot. I dont smile as a before, I dont laugh as a same and etc. Detials are very signficant for me and behaviour from people. If i fell unwanted from particular person, I just leave. Although, life is hard and you have to face it without fear. So Keep smiling and be positive and productive! :) 
{% endblock %}