{% extends "_main.jinja" %}
{% block title %} My articles! {% endblock %}

{% block main %} 
	{% if articles %}
		<ul>
			{% for id,article in articles %}
				<h2><a href="{{url_for("view_article",art_id=id) }}">{{article.title}}</a></h2>
				<p>{{ article.content | truncate(300) }}</p>
			{% endfor %}
		</ul>
	{% else %}
		<p>NO articles!</p>
	{% endif %}
{% endblock %}