{% extends "_main.jinja" %}
{% block title %} My articles! {% endblock %}

{% block main %} 
	{% if "logged" in session %}
		<a href="{{ url_for("view_add_article")}}"> Add new article</a>
	{% endif %}
	{% if articles %}
		<ul>
		{% for article in articles %}
			<li>
				<h2><a href="{{url_for("view_article",art_id=article.id) }}">{{article.title}}</a></h2>
				<p>{{ article.content | truncate(300) }}</p>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>NO articles!</p>
	{% endif %}
{% endblock %}