{% extends "_main.jinja" %}
	{% block title %} Welcome to Markdown blog! {% endblock %}
{% block main %} Is it possible to be unhappy all the time? I think, many people suffer from sadness or depression and they dont just realize it. I assume, it will be a huge problem for people after the quarantine. Many people will suffer from this kind of disorder. :) You cant get it if you already have it. (think smart) 
{% endblock %}
